*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.landing{
    min-height: 100vh;
    background-color: #0ea592;
    padding-inline: 2rem;
}
/*landing is the home page */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.navlinks{
    display: flex;
    list-style: none;
}
.navlinks li{
    padding-inline-start: 1rem;
    font-size: 1rem;
}
/*nav is to set the location and height
.navlinks is to edit the text
li is where youll set the postioning of the links*/
#logo{
    font-size: 1.5rem;
}
/* greeting animated text starts*/
.big-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 2.5rem;
    color: white;
}
/* greeting animated text ends*/
/*Welcome home screen message starts*/
.intro{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Welcome home screen message Ends*/
/*animation starts*/
.slider{
    background-color:grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
}
.intro-text{
    color: blanchedalmond;
    font-size: 2rem;
    line-height: 2;
}

.hide{
    background: black;
    overflow: hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
}
/*animation ends*/


