:root{
    --main-white: #f4f7f2; /* baby powder white */
    --main-black: #131910; /*Dark jungle green*/
    --main-color: #87a776; /*Asparagus*/
    --secondary-color: #698958; /*Russian Green */
    --thrid-color: #4c6440; /* hunter green*/
    --accent-color: #eeb902; /*Orange Yellow*/ 
    --animation-font: 'Rye', cursive;
    --bodytext-font: 'Darker Grotesque', sans-serif;
    --title-font:  'Playfair Display SC', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.landing, #about{
    min-height: 100vh;
    background-color: var(--main-white);
    padding-inline: 1rem;
}
/*landing is the home page */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.navlinks{
    display: flex;
    list-style: none;
}
.navlinks li{
    padding-inline-start: 1rem;
    font-size: 1rem;
    color: var(--secondary-color);
    font-family: var(--bodytext-font);
    font-weight: bold;
}
/*nav is to set the location and height
.navlinks is to edit the text
li is where youll set the postioning of the links*/
#logo{
    font-size: 1.5rem;
}
/* greeting animated text starts*/
.big-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 3rem;
    color: var(--main-black);
    font-family: var(--animation-font);
    font-weight: lighter;
}
/* greeting animated text ends*/
/*Welcome home screen message starts*/
.intro{
    background-color:var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Welcome home screen message Ends*/
/*animation starts*/
.slider{
    background-color:var(--main-black);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
}
.intro-text{
    color: var(--main-black);
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: var(--title-font);
    font-weight: lighter;
}

.hide{
    background:var(--main-color);
    overflow: hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
}
/*animation ends*/
.title{
    font-size: 2rem;
    font-family: var(--title-font);
    color: var(--thrid-color);
    margin-block-end:1.2rem;
}
.about-text{
    font-family: var(--bodytext-font);
    font-size: 2rem;
}



#projects{
    background-color: var(--main-white);
    padding-inline: 1rem;
    padding-block-end: 3rem;
}
.block{
    width: 2rem;
    border-top:5px solid var(--accent-color);
    width: 2rem;
}

.project-img{
    width: 100%;
    margin-block: 2rem;
}
.project-name{
    font-size: 1.5rem;
    font-family: var(--title-font);
}

.project-text{
    font-family: var(--bodytext-font);
    font-size: 1.2rem;
}
.projectlinks{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.project-button{
    margin-inline-end: 2rem;
    list-style: none;
    font-size: 1.5rem;
    font-family: var(--bodytext-font);
    font-weight: bolder;
    letter-spacing: 2px;
    color: var(--secondary-color);
}

.contact{
    height: 40vh;
    color: var(--main-white);
    background:var(--thrid-color);
}
.contact h3{
    font-size: 1.5rem;
    font-family: var(--title-font);
    padding-top: 2rem;
    text-align: center;
}
.contact-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    position: relative;
    top: 3rem;
    font-size: 2.5rem;
    font-family: var(--bodytext-font); 
}
#email{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 50%;
    font-size: 1.5rem;
}