:root{
    --main-white: #f4f7f2; /* baby powder white */
    --main-black: #131910; /*Dark jungle green*/
    --main-color: #87a776; /*Asparagus*/
    --secondary-color: #698958; /*Russian Green */
    --thrid-color: #4c6440; /* hunter green*/
    --accent-color: #eeb902; /*Orange Yellow*/ 
    --animation-font: 'Rye', cursive;
    --bodytext-font: 'Darker Grotesque', sans-serif;
    --title-font:  'Playfair Display SC', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.landing, #about{
    min-height: 100vh;
    background-color: var(--main-white);
}
#about, nav{
    padding-inline: 10rem;
}
/*landing is the home page */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.navlinks{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.navlinks li a{
    padding-inline-end: 6rem;
    font-size: 2.5rem;
    color: var(--main-white);
    font-family: var(--bodytext-font);
    font-weight: bold;
    text-decoration: none;

}
/*nav is to set the location and height
.navlinks is to edit the text
li is where youll set the postioning of the links*/
#logo{
    margin-inline-start: 3rem;
    font-size: 5rem;
    color: var(--thrid-color);
    font-family: var(--animation-font);
    font-weight: lighter;
}
/* greeting animated text starts*/
.big-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 9rem;
    color: var(--main-black);
    font-family: var(--title-font);
    font-weight: lighter;
}
/* greeting animated text ends*/
/*Welcome home screen message starts*/
.intro{
    background-color:var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Welcome home screen message Ends*/
/*animation starts*/
.slider{
    background-color:var(--main-black);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
}
.intro-text{
    color: var(--main-black);
    font-size: 2.5rem;
    line-height: 1.5;
    font-family: var(--title-font);
    font-weight: lighter;
}

.hide{
    background:var(--main-color);
    overflow: hidden;
}
.hide span{
    transform: translateY(100%);
    display: inline-block;
}
/*animation ends*/
.title{
    font-size: 6rem;
    font-family: var(--title-font);
    color: var(--thrid-color);
    margin-block-end:7rem;
}
.about-text{
    font-family: var(--bodytext-font);
    font-size: 5rem;
}



#projects{
    background-color: var(--main-white);
    padding-inline: 10rem;
    padding-block-end: 3rem;
}
.block{
    width: 12rem;
    border-top:10px solid var(--accent-color);
    margin-block-start: 4rem;
}

.project-img{
    width: 100%;
    margin-block: 2rem;
    grid-area: img;
}
.project-name{
    font-size: 4rem;
    font-family: var(--title-font);
    grid-area: name;
}
.project-text{
    font-family: var(--bodytext-font);
    font-size: 4rem;
    grid-area: text;
}
.projectlinks{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-area: links;
}

.project-button{
    margin-inline-end: 2rem;
    list-style: none;
    font-size: 4rem;
    font-family: var(--bodytext-font);
    font-weight: bolder;
    letter-spacing: 2px;
    color: var(--secondary-color);
}
.project-wrapper{
    display: grid;
    grid-gap: 3rem;
    grid-template-areas: 
    'name name name name'
    'img img img text'
    'img img img links'
}

.contact{
    height: 40vh;
    color: var(--main-white);
    background:var(--thrid-color);
}
.contact h3{
    font-size: 4rem;
    font-family: var(--title-font);
    padding-top: 2rem;
    text-align: center;
}
.contact-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    position: relative;
    top: 3rem;
    font-size: 7rem;
    font-family: var(--bodytext-font); 
}
#email{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 5rem;
    font-size: 3rem;
}
.burger div{
    width: 25px;
    height: 5px;
    margin: 5px;
    background: var(--main-white);
    transition: all 0.3s ease;
}
nav{
    background-color: var(--main-color);
    margin: 0;
    background-size: cover;
}
.burger{
    display: none;
}
/*Modile nav settings START*/
    
@media screen and (max-width: 768px) {
    *{
        overflow-x: hidden;
    }
    .intro-text{
        font-size: 1.5rem;
    }
    .navlinks{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }
    .navlinks li{
        opacity: 0;
    }
    .navlinks li a{
        font-size: 2rem;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .big-text{
        font-size: 2rem;
    }
    #about, nav, #projects{
        padding-inline: 1rem;
    }
    #logo{
        font-size: 2rem;
    }
    .project-text, .about-text{
        font-size: 2rem;
    }
    .project-img{
        width: 100%;
        margin-block: 2rem;
    }
    .title{
        font-size: 2.5rem;
    }
    .project-name{
        font-size: 2rem;
    }
    .contact h3{
        font-size: 2rem;
    }
    .contact-links{
        font-size: 3rem;
    }
    .project-button{
        font-size: 2rem;
    }
    #email{
        font-size: 1.5rem;
    }
    .projectlinks{
        display: flex;
        overflow: hidden;
        width: 100%;
        padding-inline: 1rem;
    }
    .project-wrapper{
        display: flex;
        flex-direction: column;
    }
}

/*Modile nav settings end*/

.nav-active{
    transform: translateX(0%);
}
/*Nav link aniumations start */
@keyframes navLinkFade{
    from{
        opacity: 0;
        transition: translateX(50px);
    }
    to{
        opacity: 1;
        transition: translateX(0px);
    }
}
/*Nav link End */
/* responsive nav bar animation Start*/
.toggle .line1{
    transform: rotate(-50deg) translate(-6px, 8px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(50deg) translate(-6px, -9px);
}